<h1>A Little More About Me</h1>
<p>I recently graduated from Colorado State University with a degree in Computer Engineering. 
Before I started school I spent 11 years in the Air Force working as an Avionics Systems 
Technician for the F-15/B-1/C-17 aircraft.</p>