<% provide(:title, "Home") %>
<div id="welcome">
<h1>Welcome to my site</h1>
</div>
<div id="summary">
    <%= image_tag("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/078/1e4/37c5196.jpg", {id: "profile_pic", alt: "My profile picture"}) %>
    <p>
        Hello and welcome to my website. This site contains a little information 
        about me. If you are a potential employer that has stumbled upon my site 
        or been directed by my resume than please feel free to check out my online
        <%= link_to "resume", resume_path %> and <%= link_to "portfolio", '#' %>. 
    </p>
    <p>
        I am a computer engineer that is just starting out my career. I have a big
        interest in working with hardware design, though that's not to say that I 
        don't enjoy software design. I have taken an affinity to working with hardware
        description languages (<%= link_to "HDL", "https://en.wikipedia.org/wiki/Hardware_description_language", {target: "blank"} %>)
        though I admit right now I am lacking in the necessary skills to be successful, if 
        you have any ideas about how I might improve these skills please feel free
        to send me an email/message. 
    </p>
</div>